---
import Layout from "../layouts/Layout.astro"
import Navigation from '../components/Navigation.astro';
---

<Layout title="折乙的博客~!">
    <Navigation/>
    <h1>我的 Astro 网站</h1>
    <ul>
      <li><a href="/blog/posts/post-1/">文章 1</a></li>
    </ul>
</Layout>
<style>
h1 {
     font-size: 2rem;
     text-align: center;
     color:aliceblue;
}
</style>