---

---
<head>
    <link rel="stylesheet" href="/src/style/global.css">
</head>
<div class="flex items-center justify-between px-4 card-base">
    <a href="/">首页</a>
    <a href="/blog/hello">hello</a>
    <a href="/blog">博客</a>
</div>
